# JetBrains
.idea/

# Packages
node_modules
!node_modules/@actions/github/lib/utils.d.ts

#Dist
dist/*
!dist/setup

#yarn
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions